body{
    font-family: Arial;
}

.center{
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.point {
	opacity: 0.3;
}

.selected {
    stroke: orange;
    stroke-width: 1.5px;
    opacity: 1 !important;
}



