body{
    font-family: Arial;
}

.center{
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: row;
}

.point {
	opacity: 0.5;
}

.selected {
    stroke: black;
    stroke-width: 1px;
    opacity: 1;
}

#column {
    flex:33%;
}

